$side-gap:180px;
$side-gap-for-med-screens:110px;
$vertical-gap:40px;

$light-gray:#f9f9fa;
$med-gray:#edeff1;
$gray:#87949e;
$deep-gray:#87949e;
$green:#17daa3;
$deeper-gray:#65727c;
$deepest-gray:#87949e;